<!DOCTYPE html>
<html>
  <head>
    <% include _includes/header.ejs %>
  </head>
  <body>
    <div id="leftPanel" class="text-center">
      <% include _includes/left.ejs %>
    </div>
    <div id="topPanel">
      <% include _includes/top.ejs %>
    </div>
    <div id="rightPanel">
      <% include main/agenda.ejs %>
    </div>
    <div id="bottomPanel">
      <% include _includes/bottom %>
    </div>
  </body>
</html>
