<!DOCTYPE html>
<html>
  <head>
    <% include _includes/header.ejs %>
  </head>
  <body>
    <div id="login_left">
      <div id="login_wrapper">
        <h1 id="login_header">
          <b>Bind</b> your Schedule
        </h1>
        <p id="login_text">
          Hello, We will help you to plan your schedule.
        </p>
      </div>
    </div>
    <div id="login_right">
    right
    </div>
  </body>
</html>
