<script>
  function addCard(column){
    console.log($(column).parents()[0]);

    var card = $("<card>");

    var cardHeader = $("<h4 />").addClass("header").text("New Header");
    var cardDescription = $("<p />").text("New Description");
    card.append(cardHeader).append(cardDescription);
    console.log("card");
    console.log(card);
    $(column).parents()[0].append(card[0]);
  }
</script>


<container class="sprintContainer scroll-x">
  <column>
      <h3 class="header text-center">Column Name</h3>
      <card class="addCard text-center" onClick="addCard(this)"><i class="xi-plus-circle-o xi-x"></i></card>
      <card>
        <h4 class="header">header</h4>
        <p>
          Description
        </p>
        <div class="footer">
          <div class="pull-left">
            <i class="xi-profile xi-x"></i>
            <i class="xi-calendar-list xi-x"></i>
          </div>

          <div class="pull-right">
            <i class="xi-message-o xi-x"></i>
            <i class="xi-caret-down-min xi-x"></i>
          </div>
          <div class="clearfix"></div>
        </div>
  </card>
  </column>
  <column>
    <h3 class="header text-center">Column Name</h3>
    <card class="addCard text-center"><i class="xi-plus-circle-o xi-x"></i></card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
  </column>
  <column>
    <h3 class="header text-center">Column Name</h3>
    <card class="addCard text-center"><i class="xi-plus-circle-o xi-x"></i></card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
  </column>
  <column>
    <h3 class="header text-center">Column Name</h3>
    <card class="addCard text-center"><i class="xi-plus-circle-o xi-x"></i></card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
  </column>
  <column>
    <h3 class="header text-center">Column Name</h3>
    <card class="addCard text-center"><i class="xi-plus-circle-o xi-x"></i></card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
  </column>
  <column>
    <h3 class="header text-center">Column Name</h3>
    <card class="addCard text-center"><i class="xi-plus-circle-o xi-x"></i></card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
  </column>
  <column>
    <h3 class="header text-center">Column Name</h3>
    <card class="addCard text-center"><i class="xi-plus-circle-o xi-x"></i></card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
  </column>
  <column>
    <h3 class="header text-center">Column Name</h3>
    <card class="addCard text-center"><i class="xi-plus-circle-o xi-x"></i></card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
  </column>
  <column>
    <h3 class="header text-center">Column Name</h3>
    <card class="addCard text-center"><i class="xi-plus-circle-o xi-x"></i></card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
    <card>
      <h4 class="header">header</h4>
      <p>
        Description
      </p>
      <div class="footer">
        <div class="pull-left">
          <i class="xi-profile xi-x"></i>
          <i class="xi-calendar-list xi-x"></i>
        </div>

        <div class="pull-right">
          <i class="xi-message-o xi-x"></i>
          <i class="xi-caret-down-min xi-x"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </card>
  </column>

</container>
