<script>
  $(document).ready(function(){
      $("[data-toggle='tooltip']").tooltip();
      $(".msg_tool_box").hide()
      $("message").mouseenter(function(){
        $(this).children(".msg_tool_box").show();
        // $(this."msg_tool_box").hide();
      }).mouseleave(function(){
        $(this).children(".msg_tool_box").hide();
      });
      $("#btn_create_new_channel").click(function(){
        var newChannel = $("<channel/>");
        var mediaLeft = $("<div/>").addClass("media-left");
        var mediaBody = $("<div/>").addClass("media-body");
        var meadiaHeader = $("<h4/>").addClass("media-heading").text("#Test");
        var mediaImage = $("<img/>").attr({src:"http://placehold.it/64x64"}).addClass("media-object profile");

        mediaLeft.append($("<a/>").attr({href: "#"}).append(mediaImage));
        mediaBody.append(meadiaHeader).append("test");
        newChannel.append(mediaLeft,mediaBody);


        $('#sub_container').append(newChannel);
      })
  })

</script>
<div id="sub_container">
  <div id="btn_create_new_channel"class="text-center" style="padding: 10px;">
    <i class="xi-plus-circle-o xi-x"></i> Create New Channel
  </div>
  <channel>
    <div class="media-left">
      <a href="#">
        <img class="media-object profile" src="http://placehold.it/64x64" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">#notice</h4>
      Important things
    </div>
  </channel>
  <channel>
    <div class="media-left">
      <a href="#">
        <img class="media-object profile" src="http://placehold.it/64x64" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">#dev_chatting</h4>
      Talk about developing Service
    </div>
  </channel>



</div>
<container id="chat_container">
  <div style="height:50%"class="scroll-y">
    <message class="bs-callout bs-callout-danger">
      <div class="msg_tool_box pull-right">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" data-toggle="tooltip" title="Add Reaction..." ><i class="xi-emoticon-happy-o xi-x"></i></button>
          <button type="button" class="btn btn-default" data-toggle="tooltip" title="Share"><i class="xi-share-alt-o xi-x"></i></button>
          <div class="btn-group" role="group" data-toggle="tooltip" title="More...">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <i class="xi-ellipsis-h xi-x"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Dropdown link1</a></li>
              <li><a href="#">Dropdown link2</a></li>
            </ul>
          </div>
        </div>
      </div>
      <h4><i class="xi-info-o xi-x"></i> Notice</h4>
      <p class="msg">This is channel for question for <code>Anythings</code>.This is channel for question for <code>Anythings</code>.This is channel for question for <code>Anythings</code>.This is channel for question for <code>Anythings</code>.This is channel for question for <code>Anythings</code>.This is channel for question for <code>Anythings</code>.
       </p>
    </message>
    <message class="bs-callout bs-callout-danger">
      <div class="msg_tool_box pull-right">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><i class="xi-emoticon-happy-o xi-x"></i></button>
          <button type="button" class="btn btn-default"><i class="xi-share-alt-o xi-x"></i></button>
          <button type="button" class="btn btn-default"><i class="xi-ellipsis-h xi-x"></i></button>
        </div>
      </div>
      <div class="header">
        <img class="profile" src="../public/img/profile_example.jpeg" />
        <h4 class="name">Andriano James</h4>
        <h6 class="date">7:23 PM</h6>
      </div>

      <p class="msg">
        I have a <code>error</code>!, Help me @David
      </p>
    </message>
    <message class="bs-callout bs-callout-primary">
      <div class="header">
        <img class="profile" src="../public/img/profile_example2.jpg" />
        <h4 class="name">David Hook</h4>
        <h6 class="date">6:59 PM</h6>
      </div>

      <p class="msg">
        The includes are of <code>SQL.php</code>, the below code is SQL.php<br />
        Notice: Undefined index: myusername in C:\xampp1\htdocs\cp\global\class\user.php on line 3<br />
        <br />
        Fatal error: Uncaught Error: Call to undefined function mysql_connect() in C:\xampp1\htdocs\cp\global\class\SQL.php:29
        <br />
         Stack trace: #0 C:\xampp1\htdocs\cp\global\class\user.php(4):<br />
         require() #1 C:\xampp1\htdocs\cp\global\func.php(2):<br />
         require('C:\xampp1\htdoc...') #2 C:\xampp1\htdocs\cp\index.php(2):<br />
         require('C:\xampp1\htdoc...') #3 {main} thrown in C:\xampp1\htdocs\cp\global\class\SQL.php on line 29<br />
      </p>
    </message>
    <message>
      <div class="header">
        <img class="profile" src="../public/img/profile_example.jpeg" />
        <h4 class="name">Andriano James</h4>
        <h6 class="date">7:23 PM</h6>
      </div>

      <p class="msg">
        Use <code>mysql</code> extension. Because mysql extension is deprecated.
      </p>
    </message>
    <message>
      <div class="header">
        <img class="profile" src="../public/img/profile_example.jpeg" />
        <h4 class="name">Andriano James</h4>
        <h6 class="date">7:23 PM</h6>
      </div>

      <p class="msg">
        Use <code>mysql</code> extension. Because mysql extension is deprecated.
      </p>
    </message>
    <message>
      <div class="header">
        <img class="profile" src="../public/img/profile_example.jpeg" />
        <h4 class="name">Andriano James</h4>
        <h6 class="date">7:23 PM</h6>
      </div>

      <p class="msg">
        Use <code>mysql</code> extension. Because mysql extension is deprecated.
      </p>
    </message>
    <message>
      <div class="header">
        <img class="profile" src="../public/img/profile_example.jpeg" />
        <h4 class="name">Andriano James</h4>
        <h6 class="date">7:23 PM</h6>
      </div>

      <p class="msg">
        Use <code>mysql</code> extension. Because mysql extension is deprecated.
      </p>
    </message>
  </div>
  <div id="chat_input">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Message">
      <div class="input-group-btn">
        <btton class="btn btn-default">
          <i class="xi-emoticon-happy-o xi-x"></i>
        </btton>
        <btton class="btn btn-default">
          <i class="xi-plus-circle-o xi-x"></i>
        </btton>
        <!-- Buttons -->
      </div>
    </div>
  </div>
</container>
