<section>
  <h2><i class="xi-apps xi-x"></i> Binder</h2>
</section>

<section>
  <div class="pull-left">
    <h5>Team Name</h5>
  </div>
  <div class="pull-right">
    <h5><i class="xi-cog"></i></h5>
  </div>
  <div class="clearfix">

  </div>
</section>
<section>
  <h5>Dash Board</h5>
</section>
<section id="section_members">
  <h5><i class="xi-caret-down-min"></i> Members</h5>
  <div>
    <i class="xi-profile xi-x"></i>
    <i class="xi-profile xi-x"></i>
    <i class="xi-profile xi-x"></i>
    <i class="xi-profile xi-x"></i>
    <i class="xi-profile-o xi-x"></i>
    <i class="xi-profile-o xi-x"></i>
    <i class="xi-plus-circle xi-x"></i>
  </div>
</section>
<section id="section_chat">
  <div class="pull-left">
    <h5><i class="xi-caret-down-min"></i> Chat</h5>
  </div>
  <div class="pull-right">
    <h5><i class="xi-cog"></i></h5>
  </div>
  <div class="clearfix"></div>
  <ul>
    <a href="#"><li class="active"># Channel1</li></a>
    <a href="#"><li># Channel2</li></a>
    <a href="#"><li># Channel3</li></a>
  </ul>
</section>
<section id="section_calendar">
  <div class="pull-left">
    <h5><i class="xi-caret-down-min"></i> Calendar</h5>
  </div>
  <div class="clearfix"></div>
</section>
