<!-- <section>
  <h2><i class="xi-apps xi-x"></i> Binder</h2>
</section>

<section>
  <div class="pull-left">
    <h5>Team Name</h5>
  </div>
  <div class="pull-right">
    <h5><i class="xi-cog"></i></h5>
  </div>
  <div class="clearfix">

  </div>
</section>
<section>
  <h5>Dash Board</h5>
</section>

<section id="section_chat">
  <div class="pull-left">
    <h5><i class="xi-caret-down-min"></i> Chat</h5>
  </div>
  <div class="pull-right">
    <h5><i class="xi-cog"></i></h5>
  </div>
  <div class="clearfix"></div>
  <ul>
    <a href="#"><li># Channel1</li></a>
    <a href="#"><li># Channel2</li></a>
    <a href="#"><li># Channel3</li></a>
  </ul>
</section>
<section id="section_calendar">
  <div class="pull-left">
    <h5><i class="xi-caret-down-min"></i> Calendar</h5>
  </div>
  <div class="clearfix"></div>
</section>
<section id="section_sprint">
  <div class="pull-left">
    <h5><i class="xi-caret-down-min"></i> Sprint</h5>
  </div>
  <div class="clearfix"></div>
  <ul>
    <a href="#"><li class="active">Week 1</li></a>
    <a href="#"><li>Week 2</li></a>
    <a href="#"><li>Week 3</li></a>
  </ul>
</section> -->

  <section id="btn_dashBoard" class="leftSection active">
      <i class="xi-dashboard-o xi-3x"></i>
  </section>
  <section id="btn_chat" class="leftSection">
      <i class="xi-message-o xi-3x"></i>
  </section>
  <section id="btn_calendar" class="leftSection">
      <i class="xi-calendar xi-3x"></i>
  </section>
