<!--channel component-->
<!--structure: channel-title,channel-description-->
<!--used in chat component-->
<div class = "channel">
  <div class="media-left">
    <a href="#">
      <img class="media-object profile" src="http://placehold.it/64x64" alt="...">
    </a>
  </div>
  <div class="media-body">
    <!--channel-title area-->
    <h4 class="media-heading"><ng-content select=".channel-title"></ng-content></h4>
    <!--channel description area-->
    <ng-content select=".channel-desc"></ng-content>
  </div>
</div>
