
<meta charset="utf-8" />
<title>Binder :: <%=title%></title>
<!-- jQuery -->
<script src="/lib/jquery/jquery-3.1.1.js"></script>
<!-- BootStrap -->
<script src="/lib/bootstrap/js/bootstrap.js"></script>
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css" />

<!-- Moment js -->
<script src="/lib/moment/moment.js"></script>

<!-- fullCalendar -->

<link rel="stylesheet" href="/lib/fullcalendar/fullcalendar.css" />
<script src="/lib/fullcalendar/fullcalendar.js"></script>


<!-- XEicon -->
<link rel="stylesheet" href="http://cdn.jsdelivr.net/xeicon/2/xeicon.min.css">
<!-- This is our file -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/javascripts/main.js"></script>
