<div class="message">
  <div class="msg_tool_box pull-right">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" data-toggle="tooltip" title="Add Reaction..." ><i class="xi-emoticon-happy-o xi-x"></i></button>
      <button type="button" class="btn btn-default" data-toggle="tooltip" title="Share"><i class="xi-share-alt-o xi-x"></i></button>
      <div class="btn-group" role="group" data-toggle="tooltip" title="More...">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          <i class="xi-ellipsis-h xi-x"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Dropdown link1</a></li>
          <li><a href="#">Dropdown link2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <h4 *ngIf="isNotice()"><i class="xi-info-o xi-x"></i> Notice</h4>
  <div class="header" *ngIf="isNotice() === false">
    <img class="profile" src="/img/profile_example.jpeg" />
    <h4 class="name"><ng-content select=".message-name"></ng-content></h4>
    <h6 class="date"><ng-content select="message-date"></ng-content></h6>
  </div>


  <p class="msg"><ng-content select=".message-text"></ng-content></p>
</div>
